@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #080A0E;
  color: #B8BCC6;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #080A0E;
}

::-webkit-scrollbar-thumb {
  background: #1C2028;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #252A34;
}
